body{
			margin:0;
			}
.custom_opengenus_offline_header_class {
  padding: 10px 16px;
  overflow: hidden;
  background-color: #ebebe0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#custom_opengenus_offline_header_i2{
  position:absolute;
  top:20px;
  right:50px;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}
